img {
  opacity: 0.6;
  margin: 0 25px 0 0;
  width: 35px;
}
p.label {
  opacity: 0.6;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  white-space: nowrap;
}

#customTemplate {
  --selector-active-background-color: #333;
  --selector-active-text-color: #f5f9fd;
  --selector-transition: all 0.1s ease-in-out;
  --selector-item-border-radius: 3px;
  --grid-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#light-theme {
  --selector-background-color: #f5f9fd;
  --selector-text-color: #333;
}

/* Dark Theme */
#dark-theme {
  --selector-background-color: #333;
  --selector-text-color: #f5f9fd;
  --selector-hover-background-color: #444;
  --selector-hover-text-color: #f5f9fd;
  --selector-active-background-color: #140505;
  --selector-active-text-color: #f5f9fd;
}
